@model Toptix.Models.PayCondition

@{
    ViewBag.Title = "Pay Condition Details";
}


@section tools {
    <ul class="sub">
         <li>@Html.ActionLink("Create New", "Create") | </li>
         <li>@Html.ActionLink("Delete", "Delete", new { id=Model.ID }) | </li>
         <li>@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) | </li>
         <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

<h2>Pay Condition Details</h2>

<fieldset>
    <legend>PayConditions</legend>

    <div class="display-label">
         <span class="label">@Html.DisplayNameFor(model => model.Description): </span>
        <span class="item">@Html.DisplayFor(model => model.Description)</span>
    </div>
</fieldset>
