

     <div class="rightnav">
        <h2>Data Management</h2>
         <h3>Configurations</h3>
        <ul class="sidenav">
            <li>@Html.ActionLink("Conversion Rates", "Index", "ConversionRate")</li>
            <li>@Html.ActionLink("Pay Types", "Index", "PayType")</li>
            <li>@Html.ActionLink("Pay Conditions", "Index", "PayCondition")</li>
        </ul>
         <h3>Commerce</h3>
         <ul class="sidenav">
            <li>@Html.ActionLink("Distributors", "Index", "Distributor")</li>
            <li>@Html.ActionLink("Clients", "Index", "Client")</li>
            <li>@Html.ActionLink("Products", "Index", "Product")</li>
        </ul>
     </div>