@model IEnumerable<Toptix.Models.Product>

@{
    ViewBag.Title = "Products";
}


@section tools {
    <ul class="sub">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

<h2>Products</h2>

<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => item.ID)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new {style=" background: url(../Images/x.png) no-repeat; display: block;width: 12px;height: 12px;"})
        </td>
    </tr>
}

</table>
