@model Toptix.Models.Order

@{
    ViewBag.Title = "Order Details";
}


@section tools {
    <ul class="sub">
         <li>@Html.ActionLink("Create New", "Create") | </li>
         <li>@Html.ActionLink("Delete", "Delete", new { id=Model.ID }) | </li>
         <li>@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) | </li>
         <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

<h2>Order Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.Client.Name): </span>
        <span class="item">@Html.DisplayFor(model => model.Client.Name)</span>
    </div>
    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.EnumChargeFrequency.Description): </span>
        <span class="item">@Html.DisplayFor(model => model.EnumChargeFrequency.Description)</span>
    </div>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.PayCondition.Description): </span>
        <span class="item">@Html.DisplayFor(model => model.PayCondition.Description)</span>
    </div>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.OrderDate): </span>
        <span class="item">@Html.DisplayFor(model => model.OrderDate)</span>
    </div>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.NetPrice): </span>
        <span class="item">@Html.DisplayFor(model => model.NetPrice)</span>
    </div>


    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.SupportDiscountValue): </span>
        <span class="item">@Html.DisplayFor(model => model.SupportDiscountValue)</span>
    </div>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.SupportNetPriceToCharge): </span>
        <span class="item">@Html.DisplayFor(model => model.SupportNetPriceToCharge)</span>
    </div>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.SupportFirstChargeDate): </span>
        <span class="item">@Html.DisplayFor(model => model.SupportFirstChargeDate)</span>
    </div>

    <div class="display-label">
        <span class="label"> @Html.DisplayNameFor(model => model.Status): </span>
        <span class="item">@Html.DisplayFor(model => model.Status)</span>
    </div>
</fieldset>
